h1 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center; 
    max-width: fit-content;
    margin: 0 auto;
}
.baslik {
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.kertenkele {
    color: white;
    font-style: italic;
    background-color: #f2030bd2;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 2rem;
    text-decoration: none;
    font-size: larger;
}
.kertenkele:hover {
  color: black;
  background-color: white;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  li {
    border: 2px solid blue;
    flex-basis: 10%
  }

  nav ul {
    list-style-type: none;
    border: 0px dotted blue;
    padding: 0;
   margin: 0;
    
  }
  nav h3 {
    border: 0px dotted orange;
    margin-bottom: 0.2rem;
    background-color: #f2030bd2;
    width: 8rem;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
    padding: 0rem;
    display: inline-block;
    display: block;
    border-radius: 0.5rem;
  }
h3 {
    display: inline;
    margin: left;
    padding: 0;
    display: inline-block;
}
h1 .bresim {
  display: flex;
}
h3 a {
  text-decoration: none;
  color: black;
}

nav h3:hover {
  background-color: white;
}
div h3 {
  margin: auto;
  padding: 1rem;
  flex-flow: row nowrap;
  font-style: bold;
  border: 5px solid orange; 
  
}
div h3 .baslikiki {
  display: inline-block;
  margin: auto;
  padding: 0;
  flex-flow: row nowrap;
  font-style: italic;
}

body {
  margin-left: 35%;
  margin-right: 35%;
  font-family: 'Roboto Mono', monospace;
  
}
.baslik {
  margin-top: auto;
}

.picture {
  padding: 0;
  margin: 0 auto;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 0.2rem;
  }
  div {
    padding: 0.1rem;
  }
  div .cell {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  div h3 {
    display: inline-flex;
  }

  div h1 {
    display: inline-flex;
  }

